*{margin: 0; padding: 0; box-sizing: border-box;}

/* Shared Style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{font-size: 45px;
  font-weight: 900;
}
.color-orange{color: #FD6E0A;}

.btn{background-color: #FD6E0A;
  border: none;
  border-radius: 5px;
  padding: 18px 35px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* Main style */
header{background-color: #FFF8F3;
padding-top: 50px;
background: url(../images/developer.png), url(../images/header_bg.png);
background-repeat: no-repeat;
background-position: top left, bottom right;
}

nav{width: 71%;
  max-width: 1140px;
 
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}

nav .manu{display: flex;
        list-style: none;
        gap: 51px;
      align-items: center;}

nav a{font-size: 20px;
    color: #474747;
  text-decoration: none;}

#banner{
margin: 47px 38px 0 223px;
display: flex;
align-items: center;
justify-content: space-between;
}

#banner .banner-content{max-width: 585px;}

#banner .banner-content h2{font-size: 45px;
 font-weight: 600; 
 color: #474747;
 margin-bottom: 5px;
}

#banner .banner-content h1{font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;

}

#banner .banner-content p{font-size: 18px;
  font-style: normal;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;

}


#banner .banner-image img{max-width: 585;
  vertical-align:middle;
}